#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(91, 91, 241, 0.918);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s
}

.buttons:hover {
    background-color: rgba(33, 33, 247, 0.918);
}